{% extends 'base.html' %}
{% block content %}

<h1>My Matches</h1>

{% for match in matches %}
<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
            <img src="">
            <span class="card-title">{{ match.name }}</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red" href="{% url 'match_detail' match.id %}"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

