{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s12 m12 l4">
        <div class="card-image center-align">
        {% for photo in match.match_photo_set.all %}
        <img class=" responsive-img card-panel" src="{{photo.url}}">
        {% empty %}
        <i class="material-icons" style="font-size: 12rem" >account_circle</i>
        {% endfor %}
        </div>
        <div class="card-content center-align">
            <h2 class="red-text">{{ match.name }}</h2>
            <h4 class="grey-text">{{ match.phone }}</h4>
            <h4 class="grey-text darken-4">{{ match.meet }}</h4>
        </div>
        <form action="{% url 'add_match_photo' match.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <input type="submit" class="btn red" value="Upload Photo">
        </form>
        <div class="row center-align">
            <a class="btn red text-white" href="{% url 'match_update' match.id %}">Edit Match Details</a>
        </div>
        <div class="row center-align">
            <a class="btn red text-white" href="">Ghost</a>
        </div>
        <div class="row center-align">
            <a class="btn red text-white" href="{% url 'match_delete' match.id %}">Delete Match</a>

        </div>
    </div>
    <div class="col s12 m12 l4">
        <div class="card">
            <div class="card-content center-align">
                <span class="card-title red-text text-darken 4">UPCOMING RENDEZ-VOUS</span>
                <table class="striped">
                    <tbody>
                        <tr>
                            <td>upcoming rdz date and time</td>
                            <td><a class="btn-floating btn-small waves-effect waves-light red" href=""> <i class="material-icons">more_horiz</i></a></td>
                        </tr>
                        <a class="waves-effect btn-flat red white-text" href="{% url 'rdvs_create' %}"> Add a new Rendez-Vous</a>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-content center-align">
                <table class="striped">
                    <tbody>
                        <tr>
                            <th>Age</th>
                            <td>{{ match.age }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ match.email }}</td>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td>{{ match.location }}</td>
                        </tr>
                        <tr>
                            <th>Interests</th>
                            <td>{{ match.interests }}</td>
                        </tr>
                        <tr>
                            <th>Zodiac</th>
                            <td>{{ match.zodiac }}</td>
                        </tr>
                        <tr>
                            <th>Attraction</th>
                            <td>star rating</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4">
        <div class="card">
            <div class="card-content center-align">
                <span class="card-title red-text text-darken 4">PAST RENDEZ-VOUS</span>
                <br>
                <table class="striped">
                    <tbody>
                        <tr>
                            <td>upcoming rdz date and time</td>
                            <td><a class="btn-floating btn-small waves-effect waves-light red" href=""> <i class="material-icons">more_horiz</i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-content center-align">
                <table class="striped">
                    <tbody>
                        <tr>
                            <th>Notes</th>
                        </tr>
                        <tr>
                            <td>{{ match.notes }}</td>
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}