{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s6 offset-s3 m6 l4">
        <div class="card">
            <div class="card-image center-align">
            {% for photo in match.match_photo_set.all %}
                <img class="responsive-img" src="{{photo.url}}">
            {% empty %}
                <i class="material-icons" style="font-size: 12rem" >account_circle</i>
            {% endfor %}
            <form action="{% url 'add_match_photo' match.id %}" enctype="multipart/form-data" method="POST" class="upload-photo">
                {% csrf_token %}
                <input type="file" name="photo-file" class="center-align">
                <br><br>
                <input type="submit" class="waves-effect btn-flat red white-text" value="Upload Photo">
            </form>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l8">
            <div class="card-content center-align">
                <h2 class="red-text">{{ match.name }}</h2>
                <h4 class="grey-text">{{ match.phone }}</h4>
                <h4 class="grey-text darken-4">{{ match.meet }}</h4>

                </div><br>
                <div class="card-action center-align">
                    <a class="waves-effect btn-flat red white-text" href="{% url 'match_update' match.id %}">Edit Match Details</a>
                    <a class="waves-effect btn-flat red white-text" href="">Ghost</a>
                    <a class="waves-effect btn-flat red white-text" href="{% url 'match_delete' match.id %}">Delete Match</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col s12 m12 l8">



    </div>
    <div class="col s12 m12 l6">
        <div class="card">
            <div class="card-content center-align">
                <span class="card-title red-text text-darken 4">UPCOMING RENDEZ-VOUS</span>
                <table class="striped">
                    <tbody>
                        {% for rdv in match.rdv_set.all  %}
                            {% if request.user.id == rdv.match.user.id %} 
                            <tr>
                                <td>{{rdv.match.name}}</td>
                                <td>{{rdv.date}}</td>
                                <td><a class="btn-floating btn-small waves-effect waves-light red" href="{% url 'rdv_detail' rdv.id %}"> <i class="material-icons">more_horiz</i></a></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        <a class="waves-effect btn-flat red white-text" href="{% url 'rdvs_create' %}"> Add a new Rendez-Vous</a>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-content center-align">
                <table class="striped">
                    <tbody>
                        <tr>
                            <th>Age</th>
                            <td>{{ match.age }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ match.email }}</td>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td>{{ match.location }}</td>
                        </tr>
                        <tr>
                            <th>Interests</th>
                            <td>{{ match.interests }}</td>
                        </tr>
                        <tr>
                            <th>Zodiac</th>
                            <td>{{ match.zodiac }}</td>
                        </tr>
                        <tr>
                            <th>Attraction</th>
                            <td>star rating</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6">
        <div class="card">
            <div class="card-content center-align">
                <span class="card-title red-text text-darken 4">PAST RENDEZ-VOUS</span>
                <br>
                <table class="striped">
                    <tbody>
                        <tr>
                            <td>upcoming rdz date and time</td>
                            <td><a class="btn-floating btn-small waves-effect waves-light red" href=""> <i class="material-icons">more_horiz</i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-content center-align">
                <table class="striped">
                    <tbody>
                        <tr>
                            <th>Notes</th>
                        </tr>
                        <tr>
                            <td>{{ match.notes }}</td>
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}