{% extends 'base.html' %}
{% block content %}

<h1 class="center-align">Rendez-vous Details</h1>
<div class="row">
    <div class="col s4 m4 l4">
            <div class="card-image center-align">
                {% for photo in rdv.match.match_photo_set.all %}
                    <a href="{% url 'match_detail' rdv.match.id %}"><img class=" responsive-img card-panel" src="{{photo.url}}"></a>
                {% empty %}
                    <i class="material-icons" style="font-size: 12rem" >account_circle</i>
                {% endfor %}
            </div>
    </div>
    <div class="col s8 m8 l8">
        <table class="striped">
            <tbody>
                <tr>
                    <th>Rendez-vous Match</th>
                    <td>{{rdv.match.name}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{rdv.date}}</td>
                    <td><a class="btn-floating btn-small waves-effect waves-light red" href=""> <i class="material-icons">edit</i></a></td>
                </tr>
                <tr>
                    <th>Time</th>
                    <td>{{rdv.time}}</td>
                    <td><a class="btn-floating btn-small waves-effect waves-light red" href=""> <i class="material-icons">edit</i></a></td>
                </tr>
                <tr>
                    <th>Where</th>
                    <td>{{rdv.where}}</td>
                    <td><a class="btn-floating btn-small waves-effect waves-light red" href=""> <i class="material-icons">edit</i></a></td>
                </tr>
                <tr>
                    <th>Activity</th>
                    <td>{{rdv.what}}</td>
                    <td><a class="btn-floating btn-small waves-effect waves-light red" href=""> <i class="material-icons">edit</i></a></td>
                </tr>
                <tr>
                    <th>Notes</th>
                    <td>{{rdv.notes}}</td>
                    <td><a class="btn-floating btn-small waves-effect waves-light red" href=""> <i class="material-icons">edit</i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row center-align">
    <a class="btn red text-white" href="">Cancel Rendez-Vous</a>
</div>
<div class="row center-align">
        <a class="btn red text-white" href="{% url 'rdv_update' rdv.id %}">Edit Match Details</a>
</div>
<div class="row center-align">
    <a class="btn red text-white" href="{% url 'rdv_delete' rdv.id %}">Delete Rendez-Vous</a>
</div>
{% endblock %}
