{% extends 'base.html' %}
{% block content %}

<h3 class="center-align">rendez-vous details with {{rdv.match.name}}</h3>
<div class="row">
    <div class="col s8 offset-s2 m8 offset-m2 l4">
            <div class="card-image center-align">
                {% for photo in rdv.match.match_photo_set.all %}
                {% if forloop.counter == 1 %}
                    <a href="{% url 'match_detail' rdv.match.id %}"><img class=" responsive-img card-panel" src="{{photo.url}}"></a>
                {% endif %}
                    {% empty %}
                    <i class="material-icons" style="font-size: 12rem" >account_circle</i>
                {% endfor %}
            </div>
    </div>
    <div class="col s8 offset-s2 m8 offset-m2 l8">
        <table class="striped">
            <tbody>
                <tr>
                    <th>Rendez-vous Match</th>
                    <td>{{rdv.match.name}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{rdv.date}}</td>
                </tr>
                <tr>
                    <th>Time</th>
                    <td>{{rdv.rdv_time}}</td>
                </tr>
                <tr>
                    <th>Where</th>
                    <td>{{rdv.where}}</td>
                </tr>
                <tr>
                    <th>Activity</th>
                    <td>{{rdv.what}}</td>
                </tr>
                {% if rdv.past_date %}
                    <tr>
                        <th>Rating</th>
                        <td>{{rdv.rating}}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Notes</th>
                    <td>{{rdv.notes}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row center-align">
    <a class="waves-effect btn-flat red white-text" href="{% url 'add_calendar' rdv.id %}">Send to Google Calendar</a>
</div>
<div class="row center-align">
        <a class="waves-effect btn-flat red white-text" href="{% url 'rdv_update' rdv.id %}">Edit Match Details</a>
</div>
<div class="row center-align">
    <a class="waves-effect btn-flat red white-text" href="{% url 'rdv_delete' rdv.id %}">Delete Rendez-Vous</a>
</div>
{% endblock %}
