{% extends 'base.html' %}
{% block content %}

<img height="100vh" src="../static/images/Datebase Logo.png" alt="datebase logo">
<p>helping singles tackle the messy world of dating</p>
<br>

<p>
Introducing a web platform where users can store their dating contacts and 
track their dating activity in one convenient place. 
</p>

<p>Brought to you by:</p>

<div class="row">
    <div class="col s6 m6 l3">
            <div class="profile-pic center-align">
                <img src="../static/images/Calvin.jpg" alt="Calvin" class="circle" width="100vw">
            </div>
            <div class="card-content center-align">
                <span class="card-title">Calvin</span>
                <a class="btn-floating waves-effect waves-light red" href=""><i class="material-icons">more_horiz</i></a>
            </div>
    </div>
    <div class="col s6 m6 l3">
            <div class="profile-pic center-align">
                <img src="../static/images/Dom.jpg" alt="Dom" class="circle" width="100vw">
            </div>
            <div class="card-content center-align">
                <span class="card-title">Dom</span>
                <a class="btn-floating waves-effect waves-light red" href=""><i class="material-icons">more_horiz</i></a>
            </div>
    </div>
    <div class="col s6 m6 l3">
            <div class="profile-pic center-align">
                <img src="../static/images/Jess.jpg" alt="Jess" class="circle" width="100vw">
            </div>
            <div class="card-content center-align">
                <span class="card-title">Jess</span>
                <a class="btn-floating waves-effect waves-light red" href=""><i class="material-icons">more_horiz</i></a>
            </div>
    </div>
    <div class="col s6 m6 l3">
            <div class="profile-pic center-align">
                <img src="../static/images/Joe.jpg" alt="Joe" class="circle" width="100vw">
            </div>
            <div class="card-content center-align">
                <span class="card-title">Joe</span>
                <a class="btn-floating waves-effect waves-light red" href=""><i class="material-icons">more_horiz</i></a>
            </div>
    </div>
</div>


{% endblock %}