{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Datebase</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header class="navbar-fixed" >
        <nav>
            <div class="nav-wrapper white">
                <a href="/" class="left brand-logo" style="margin: 0 10px"><img height="30vh" src="../static/images/Datebase Logo.png" alt="datebase logo"></a> 
                {% if user.is_authenticated %}
                <ul class="right">
                   <li> <a class="red-text text-darken 4" href="{% url 'matches_create' %}">Add a Match</a></li>
                   <li> <a class="red-text text-darken 4" href="">Rendez-Vous</a></li>
                   <li> <a class="red-text text-darken 4" href="{% url 'logout' %}">Log Out</a></li>
                   <li> <a class="red-text text-darken 4" href="{% url 'profile' user.id %}"><i class="large material-icons">account_circle</i></a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
  	<footer class="page-footer red darken-4">
        <div class="left">
            <a class="white-text" style="margin: 0 10px" href="{% url 'about' %}">About</a>
        </div>
        All Rights Reserved, &copy; 2019 the datebase &nbsp;
        <br>
    </footer>
</body>
</html>