{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Datebase</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <main>
        <img height="100vh" src="../static/images/Datebase Logo.png" alt="datebase logo">
        <p>helping singles tackle the messy world of dating</p>
        <br>
        <a href="{% url 'signup' %}" class="btn">Sign Up</a>
        <a href="{% url 'login' %}" class="btn">Log In</a>
    </main>
    <footer class="page-footer red darken-4">
        <div class="left">
            <a class="white-text" style="margin: 0 10px" href="{% url 'about' %}">About</a>
        </div>
        All Rights Reserved, &copy; 2019 the dat&#477;base &nbsp;
        <br>
    </footer>
</body>
</html>
