body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}

img {
    height: 12vmin;
    margin: 1vh;
}


footer {
    padding-top: 0;
    text-align: right;
}

p {
    font-weight: 600;
    font-size: 3vmin;
    margin: 0;
}

a {
    vertical-align: middle;
}

.btn {
    border: 1px solid black;
    background-color: transparent;
    color: black;
    margin: 2vh;
    width: 25vw;
    border-radius: 5px;
    font-weight: 600;
    font-size: 3vmin;
}

.btn:hover{
    background-color: #ff3b2d;
    color: white;
}